#content {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 3fr 2fr;
}

main.content-left,
main.content-right {
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(5, 5, 5, 0.2);
    /* box-shadow: 4px 6px 3px rgba(0, 0, 0, 0.19), 2px 3px 4px rgba(0, 0, 0, 0.22); */
    background-color: #494ca2;
    width: 100%;
}

main.content-left .heading,
main.content-right .heading {
    margin-top: 10px;
    padding: 10px;
}

main.content-left .heading h1, 
main.content-right .heading h1 {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

main.content-left .heading hr {
    width: 70px;
    margin: 0 auto;
    border: solid 2px #fff;
    margin-bottom: 20px;  
}

main.content-right .heading hr {
    width: 100px;
    margin: 0 auto;
    border: solid 2px #fff;
    margin-bottom: 20px;
}

.form {
    
}

input[type=text] {
    background: transparent;
    border: 0;
    outline: 0;
    font-weight: 500;
    font-size: 16px;
    color: #666;
}

.input-group {
    /* border-bottom: 1px solid #e5e5e5; */
}
